<h2>
  <%= @user.username %>
  <% if current_user&.admin && @user.disabled %>
    <span class="badge badge-info">account closed</span>
  <% end %>
</h2>

<%= link_to "#{@user.disabled ? 'open' : 'close'} account", toggle_state_user_path(@user.id), method: :post, class:'btn btn-danger' if current_user&.admin %>

<p>
  Has made <%= @user.ratings.count %> ratings, average rating <%= round(@user.average_rating) %>
</p>

<% unless @user.favorite_style.nil? %>
  <p>Favorite style: <%= @user.favorite_style %></p>
<% end %>

<% unless @user.favorite_brewery.nil? %>
  <p>Favorite brewery: <%= @user.favorite_brewery %></p>
<% end %>

<h3>Beer clubs</h3>

<p>
  member of
  <ul>
  <% @user.memberships.each do |membership| %>
    <li><%= link_to membership.beerclub.name, membership.beerclub %></li>
  <% end %>
  </ul>
</p>

<p>
  applied membership of
  <ul>
  <% @user.applications.each do |application| %>
    <li><%= link_to application.beerclub.name, application.beerclub %></li>
  <% end %>
  </ul>
</p>

<h3>ratings</h3>

<ul id="ratings-list">
  <% @user.ratings.each do |rating| %>
    <li>
      <%= rating %>
      <% if @user == current_user %>
        <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </li>
  <% end %>
</ul>

<% if @user == current_user %>
  <%= link_to 'Edit', edit_user_path(@user), class:'btn btn-primary' %>
  <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger' %>
<% end %>
