

<h2><%= @user.username %></h2>

<p>
  Has made <%= @user.ratings.count %> ratings, average rating <%= round(@user.average_rating) %>
</p>

<% unless @user.favorite_style.nil? %>
  <p>Favorite style: <%= @user.favorite_style %></p>
<% end %>

<% unless @user.favorite_brewery.nil? %>
  <p>Favorite brewery: <%= @user.favorite_brewery %></p>
<% end %>

<p>
  member of
  <ul>
  <% @user.beerclubs.each do |club| %>
    <li><%= link_to club.name, club %></li>
  <% end %>
  </ul>
</p>

<h3>ratings</h3>

<ul id="ratings-list">
  <% @user.ratings.each do |rating| %>
    <li>
      <%= rating %>
      <% if @user == current_user %>
        <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </li>
  <% end %>
</ul>

<% if @user == current_user %>
  <%= link_to 'Edit', edit_user_path(@user), class:'btn btn-primary' %>
  <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger' %>
<% end %>
