<h2>Ratings</h2>

<div class="row">
  <div class="col">
    <h4>Best beers</h4>
    <%= render 'table', list: @best_beers %>
  </div>
  <div class="col">
    <h4>Best breweries</h4>
    <%= render 'table', list: @best_breweries %>
  </div>
  <div class="col">
    <h4>Best styles</h4>
    <%= render 'table', list: @best_styles %>
  </div>
</div>

<h4>Most active users</h4>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Username</th>
      <th>Ratings</th>
    </tr>
  </thead>

  <tbody>
    <% @most_active_users.each do |user| %>
      <tr>
        <td><%= link_to user.username, user %></td>
        <td><%= user.ratings.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h4>Recent ratings</h4>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Beer</th>
      <th>Rating</th>
      <th>Rater</th>
    </tr>
  </thead>

  <tbody>
    <% @recent_ratings.each do |rating| %>
      <tr>
        <td><%= link_to rating.beer.name, rating.beer %></td>
        <td><%= rating.score %></td>
        <td><%= link_to rating.user.username, rating.user %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New rating', new_rating_path, class:'btn btn-primary' %>
