<h2>
  <%= @beerclub.to_s %>
</h2>

<p>
  Founded: <%= @beerclub.founded %>
</p>

<h3>
  Members:
</h3>
<ul>
<% @memberships.each do |membership| %>
  <li><%= link_to membership.user.username, membership.user %></li>
<% end %>
</ul>

<% if @is_member && @applications.count > 0 %>
  <h3>
    Applicants:
  </h3>
  <ul>
  <% @applications.each do |application| %>
    <li><%= link_to application.user.username, application.user %><%= link_to "confirm", confirm_membership_path(application.id), method: :post, class:'btn btn-primary' %></li>
  <% end %>
  </ul>
<% end %>

<% if current_user %>
  <% if @is_member || @is_applicant%>
    <%= form_for(@membership, method: "delete") do |f| %>
      <%= f.hidden_field :beerclub_id %>
      <%= f.submit value:"#{@is_member ? "end the membership" : "cancel the application"}", class:'btn btn-primary' %>
    <% end %>
  <% else %>
    <%= form_for(@membership) do |f| %>
      <%= f.hidden_field :beerclub_id %>
      <%= f.submit value:"apply for membership", class:'btn btn-primary' %>
    <% end %>
  <% end %>
  <%= link_to 'Edit', edit_beerclub_path(@beerclub), class:'btn btn-primary' %>
  <%= link_to 'Destroy', @beerclub, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger' %>
<% end %>
