<p id="notice"><%= notice %></p>

<h2>
  <%= @beerclub.to_s %>
</h2>

<p>
  Founded: <%= @beerclub.founded %>
</p>

<h3>
  Members:
</h3>
<ul>
<% @beerclub.members.each do |member| %>
  <li><%= link_to member.username, member %></li>
<% end %>
</ul>

<% if current_user %>
  <%= form_for(@membership) do |f| %>
    <%= f.hidden_field :beerclub_id %>
    <%= f.submit value:"join the club" %>
  <% end %>
  <%= link_to 'Edit', edit_beerclub_path(@beerclub) %> |
  <%= link_to 'Destroy', @beerclub, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
